/* css code for lily's color layout */

/* basic structure */

#wrapper {
	margin: 0 auto;
	width: 1024;
}

#wrapper header {
	height: 60;
	width: 100%;
}


/* typography */

*, p, h1, h2, h3, h4, h5, h6 {
	color: black;
}


#wrapper p {
	color: #444444;
}

#wrapper h2 {
	font-size: 20px;
}

#wrapper header h2 {
	padding-top: 5px;
	padding-right: 5%;
	text-align: right;
}

#wrapper #content h2 {
	padding-bottom: 7px;
}

/* color code columns  */
#content ul li p {
	padding-top: 7px;	
} 

#top-row {
	padding-bottom: 7px;
}

#bottom-row {
	padding-top: 7px;
}

#bottom-row .large-3 {
	border-top: 1px dotted #888888;
	padding-top: 20px;
}

/* navigation styling */

#content .intro ul li {
	list-style-type: none;
	float: left;
	font-size: 15px;
	margin-right: 15px;
	color: #262626;
}

#content .intro ul li a {
	text-decoration: underline;
	color: #262626;		
}


#content .intro ul li a:link {
	text-decoration: underline;
}

#content .intro ul li a:hover {
	text-decoration: none;
	color: #262626;	
}



/* type chooooooices */

.choice1 p, .choice1 h6, .choice1 h3, .choice1 h2  {
	font-family: 'Roboto Slab', serif !important;
	font-weight: 200;
}

.choice1bold p, .choice1bold h6, .choice1bold h3, .choice1bold h2 {
	font-family: 'Roboto Slab', serif !important;
}


.choice2 p, .choice2 h6, .choice2 h3, .choice2 h2 {
	font-family: 'Raleway', sans-serif !important;
	font-weight: 200;
}

.choice2bold p, .choice2bold h6, .choice2bold h3, .choice2bold h2 {
	font-family: 'Raleway', sans-serif !important;
}




/* small edits to foundation zurb */

#top-row .large-3 {
width: 26%;
}
/* rgb color codes and layout */

.rgb-purple {
	background-color: rgb(121, 120, 138);
    border-radius: 20px 20px 20px 20px;
    height: 35px;
    width: 35px;
    float: left;
    margin-right: 10px;
}

.rgb-orangeCream {
	background-color: rgb(250, 173, 129);
    border-radius: 20px 20px 20px 20px;
    height: 35px;
    width: 35px;
    float: left;
    margin-right: 10px;
}

.rgb-splitPea {
	background-color: rgb(194, 211, 169);
    border-radius: 20px 20px 20px 20px;
    height: 35px;
    width: 35px;
    float: left;
    margin-right: 10px;
}

.rgb-khaki {
	background-color: rgb(253, 243, 231);
    border-radius: 20px 20px 20px 20px;
    height: 35px;
    width: 35px;
    float: left;
    margin-right: 10px;
}

.rgb-text {
	background-color: rgb(38, 38, 38);
    border-radius: 20px 20px 20px 20px;
    height: 35px;
    width: 35px;
    float: left;
    margin-right: 10px;
}
